* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}
.container {
  background-color: black;
  width: 500px;
  min-height: 300px;
  display: grid;
  padding: 50px;
  place-items: center;
  border-radius: 20px;
}
.para {
  color: white;
  text-align: center;
  line-height: 2;
}
.btn {
  margin-top: 20px;
  height: 45px;
  padding: 0 20px;
  cursor: pointer;
  background-color: yellow;
  border-radius: 10px;
  border: none;
  outline: none;
}
